body{
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

nav{
    background-color: #c4bdbd;
    padding: 10px 30px;
    /* border-radius: 8px; */
    color: #fff;
     text-decoration: none;
    border: 2px solid #212121; 
}
nav,a{
    background-color:#b9b4b4;
    padding: 10px 30px;
     border-radius: 8px; 
    color: #212121;
    text-decoration: none;
    border: 2px solid #575454; 
     text-align: center;
}
h1{
    text-align: center;
}
span.button{
    display: inline-block;
    height: 135px; 
    width: 120px;
    border: 2px solid ;
    border-radius: 4px;

}
span#gray{
    background-color: gray;
    margin-left: 38%;
}
span#white{
    background-color: white;
}
span#blue{
    background-color: blue;
}
span#yellow{
    background-color: yellow;
}
h2{
    text-align: center;
}